{% extends 'rango/base.html' %}

{% block title_block %}
	Login
{% endblock %}

{% block heading_block %}
	<h1 class="jumbotron-heading">Login</h1>
{% endblock %}

{% block content_block %}
	<form class="form-signin" role="form" method="post" action=".">
		{% csrf_token %}
		<label for="inputUsername" class="sr-only">Username</label>
		<input type="text" name="username" id="inputUsername" class="form-control" 
				placeholder="Username" required autofocus>
		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" name="password" id="inputPassword" class="form-control"
				placeholder="Password" required>
		<button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">
			Sign up
		</button>
	</form>

	<p>
		Not registered?
		<a href="{% url 'registration_register' %}">Register here!</a>
	</p>
{% endblock %}