{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title_block %}
	Profile for {{ selected_user.username }}
{% endblock %}

{% block heading_block %}
	<h1 class="jumbotron-heading">{{ selected_user.username|title }}'s Profile</h1>
{% endblock %}

{% block content_block %}
	<div class="row">
		{% if user_profile.picture %}
			<img src="{{ MEDIA_URL }}{{ user_profile.picture }}"
				width="300px"
				height="300px"
				alt="{{ selected_user.username|title }}'s profile image"/>
		{% else %}
			<div class="no-image-profile"><span>No Image</span></div>
		{% endif %}
		<br />
		<div>
			{% if selected_user == user %}
				<form class="form form-rango" 
					  role="form" 
					  id="page_form" 
					  method="post"
					  action="." 
					  enctype="multipart/form-data">
					{% csrf_token %}
					{{ form.as_p }}
					<button class="btn btn-primary" name="submit" type="submit">Update Profile</button>	
				</form>
			{% else %}
				<p>
					<strong>Website: </strong>
					<a href="{{ user_profile.website }}">{{ user_profile.website }}</a>
				</p>
			{% endif %}
		</div>
		
	</div>
{% endblock %}