{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title_block %}
	Profile for {{ selected_user.username }}
{% endblock %}

{% block heading_block %}
	<h1 class="jumbotron-heading">{{ selected_user.username }}'s Profile</h1>
{% endblock %}

{% block content_block %}
	<form class="form form-rango" 
		  role="form" 
		  id="page_form" 
		  method="post" 
		  action="{% url 'rango:profile' selected_user.username %}"
		  enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
		<button class="btn btn-primary" name="submit" type="submit">Update Profile</button>
	</form>
{% endblock %}