{% extends 'rango/base.html' %}

{% block title_block %}
	Profile Registration
{% endblock %}

{% block heading_block %}
	<h1 class="jumbatron-heading">Profile Registration</h1>
{% endblock %}

{% block content_block %}
	<div class="row">
		<form class="form form-rango" 
			  role="form" 
			  id="user_profile_form" 
			  method="post"
			  action="{% url 'rango:register_profile' %}"
			  enctype="multipart/form-data">
			{% csrf_token %}
			
			{% for field in form.visible_fields %}
			{{ field.errors }}
			{{ field.help_text }}<br />
			{{ field }}<br />
			{% endfor %}
			<br />
			<div class="p-2"></div>
			<button class="btn btn-primary" type="submit" name="submit">
				Create Profile
			</button>
			<div class="p-5"></div>
		</form>
	</div>
{% endblock %}